.loginregister-input:focus::placeholder{
    color: transparent;
}

.loginregister-input::placeholder{
    font-size: 12px;
}

.loginregister-div-inputs{
    margin-bottom: 10px;
}

.loginregister-input{
    background-color: #dadada2d !important;
}

.loginregister-div-inputs p{
    color: rgba(255, 0, 0, 0.877);
    margin:0;
}
